<h2>Userinfo</h2><br>
<%= locals.profile.name %><br>
<%= locals.profile.email %>
<img src=<%= locals.profile.avatar %> width="100px">
<% if(locals.user.id == profile.id){ %>
    <form action="/update/<%= profile.id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= profile.name %>" placeholder="your name" required>
        <input type="text" name="email" value="<%= profile.email %>" placeholder="your email" required>
        <input type="file" name="avatar" placeholder="profilePicture">
        <input type="submit" value="Update">
    </form>
<% } %>